---
---

@import "{{ site.theme }}";

header {
    background: #2b2228 url(../images/header-bg-local.jpg) 0 0 repeat-x;
}

body {
    font-size: 25px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 90px;
    font-weight: normal;
    line-height: 1.5;
    color: #fff;
    letter-spacing: -1px;
}
