---
---

@import "{{ site.theme }}";

h1 {
    width: 7000px;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 90px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px;
}
